@page
<div class="text-center">
    <h1 class="display-5">Welcome to Search page</h1>
</div>
<div class="col-auto">
    <table class="table table-striped border">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NickName</th>
            <th>Age</th>
            <th>Sex</th>
            <th>BirthDate</th>
            <th>LastCrime</th>
            <th>LastAccomodation</th>
            <th>Organizations</th>
        </tr>
    </table>
</div>